.header {
  width: 1440px;
  height: 59px;
  /* border: red solid 2px; */
  /* font-size: 18px; */
  background-color: #ffffff;
  padding-left: 90px;
  justify-content: space-around;
  display: flex;
  margin-bottom: 30px;
  margin-left: 40px;
}
.header img {
  height: 31px;
  width: 89px;
  margin-left: -265px;
  /*border: red solid 2px;*/
  margin-top: 13px;
}
.input1 {
  /*border: solid red 2px;*/
  margin-left: -450px;
  margin-top: 5px;
}
.button {
  /*border: red solid 2px;*/
  display: flex;
  justify-content: space-between;
  margin-left: -280px;
}
.header .button1 {
  margin-top: 13px;
  margin-left: 49px;
}
.button1 button {
  background-color: #c2185b;
  flex-wrap: wrap;
  border: none;
  border-radius: 5px;
  color: #fff;
  height: 28px;
  width: 130px;
}

.button2 {
  display: flex;
  /*border: red 2px solid;*/
  justify-content: space-between;
  width: 280px;
  text-decoration: none;
  margin-top: 13px;
}

.button2 button {
  background-color: white;
  flex-wrap: wrap;
  border-color: #29b6be;
  border-radius: 5px;

  height: 27px;
  width: 130px;
}

.button2 a {
  text-decoration: none;
  color: #29b6be;
  border: #29b6be;
}

.button3 button {
  background-color: #29b6be;
  flex-wrap: wrap;
  border: none;
  border-radius: 5px;
  color: #fff;
  height: 27px;
  width: 130px;
}
.header .button3 {
  margin-top: 13px;
  margin-left: 49px;
  color: white;
  margin-right: -180px;
}
.button3 a {
  text-decoration: none;
  color: white;
  border: #29b6be;
}

/*SearchBar*/
.input-header {
  display: flex;
  background-color: #f3f5f5;
  border-radius: 5px 0 0 5px;
}

.input-header .select {
  outline: none;
  border: none;
  background-color: #f3f5f5;
  border-radius: 4px 0 0 4px;
  color: #999999;
  font-family: inherit;
  padding: 0 21px 0 15px;
  margin-right: 10px;
  position: relative;
  cursor: pointer;
}

.search-icon svg {
  margin-left: -100px;
}
.search-icon svg {
  position: absolute;
  left: 0px;
  color: grey;
  margin-left: 20px;
}
.search-icon {
  color: grey;
}
.input-header fieldset {
  position: relative;
  display: flex;
  align-items: center;
  width: 540px;
  background-color: #f3f5f5;
  border: 1px solid #e4e4e4;
}

.select > div:first-child {
  padding: 1px;
}

.select > div:first-child svg {
  position: absolute;
  left: 50px;
  top: 0%;
  color: #999999;
}

.filter-price {
  position: absolute;
  background-color: white;
  padding: 10px 20px 5px 20px;
  left: 0px;
  top: 30px;
}

.filter-price input {
  width: 60px;
  margin-bottom: 10px;
}
@media (max-width: 1200px) {
  .input-header {
    width: 430px;
  }
}

@media (max-width: 1000px) {
  .input-header {
    display: none;
  }

  header .login-signup,
  header .logout {
    display: none;
  }

  header button {
    display: none;
  }

  header .menu-mobile {
    display: block;
    position: absolute;
    right: 5%;
    font-size: 26px;
    color: #c7c7c7;
    top: 25%;
  }
}

/*HOME*/

.contenaire1 {
  /*border: black solid 2px;*/
  height: 1000px;
  width: 1440px;

  position: relative;
}
.bloc2 {
  height: 258px;
  width: 400px;
  /*border: springgreen solid 2px;*/
  position: absolute;
  top: 45%;
  left: 99px;
  transform: translateY(-50%);
  background-color: #fff;
}
.bloc3 {
  height: 160px;
  width: 100%;
  /* border: tomato solid 2px;*/
}
h1 {
  font-size: 34px;
  margin-left: 10px;
  line-height: 42.5px;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

.bloc4 button {
  width: 180px;
  height: 40px;
  background-color: #29b6be;
  border-color: #29b6be;
  border-radius: 5px;
  color: white;
  margin-left: 10px;
}
.image img {
  height: 100%;
  width: 1600px;
}
.bloc5 {
  display: flex;
  height: 1160px;
  width: 100%;
  /*border: blue solid 2px;*/
}
.offre {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-left: 93px;
  margin-top: 62px;
  margin-right: 93px;
}

.categories {
  /*border: blueviolet solid 2px;*/
  margin-bottom: 25px;
  text-decoration: none;
}
.cat2 img {
  /*border: black solid 2px;*/
  width: 235px;
  height: 330px;
}
.cat1 {
  /* border: black solid 2px;*/
  width: 235px;
}
.cat1 p {
  color: black;
  font-size: 14px;
}
.cat3 p {
  font-size: 12px;
  color: #9d9d9d;
  text-decoration: none;
}

/*Offer*/

.container2 {
  /* border: black solid 2px; */
  display: flex;
  height: 1000px;
  width: 100%;
  background-color: #eaedee;
}

.photo {
  /* border: tomato solid 2px; */
  height: 1000px;
  width: 850px;
}
.photo1 img {
  width: 500px;
  height: 750px;
  /* border: blue solid 2px; */
  margin-left: 200px;
  margin-top: 50px;
  object-fit: cover;
  border-radius: 10px;
}
.detail {
  width: 720px;
  height: 1000px;
  /* border: steelblue solid 2px; */
  line-height: 19.5px;
}
.detail .detail1 {
  width: 500px;
  height: 500px;
  /* border: blue solid 2px; */
  margin-left: 105px;
  margin-top: 50px;
  /* background-color: white; */
}

.detail .detail3 {
  width: 75%;
  border: black solid 2px;
  /* display: flex; */
  height: 25%;
  margin-top: 20px;
  margin-left: 55px;
  border-bottom-color: gray;
}

.detail .detail31 {
  width: 50%;
  border: black solid 2px;
}
.detail31 p {
  color: gray;
}

.detail .detail32 {
  width: 75%;
  /* border: black solid 2px; */
  /* flex-direction: column; */
  border-radius: 10px;
  background-color: #fff;
  padding: 10px;
}
.offer-description {
  display: flex;
  justify-content: space-between;
  position: relative;
}
.offer-description > p:first-child {
  color: #999999;
}
.offer-description > p:last-child {
  color: #666666;
  text-align: right;
}
.offer-description > p {
  font-size: 13px;
  line-height: 19.5px;
}
.detail .name {
  width: 75%;
  /*border: solid black 2px;*/
  margin-top: 30px;
  font-weight: bold;
  margin-left: 55px;
}

.detail .description {
  width: 75%;
  /* border: solid black 2px;*/
  margin-top: 30px;
  color: gray;
  font-size: 16px;
  margin-left: 55px;
  line-height: 19.5px;
}

.detail .owner {
  width: 80%;

  /* border: black solid 2px; */
  margin-top: 40px;
  margin-left: 95px;
  display: flex;
}

.username {
  margin-top: 15px;
}
.owner img {
  height: 50px;
  border-radius: 50px;
}

.rating {
  display: flex;
  color: #f7c60e;
  font-size: 10px;
  margin-top: 5px;
}
.detail button {
  width: 75%;
  /* border: solid 2px black; */
  margin-top: 10px;
  margin-left: 45px;
  height: 40px;
  background-color: #29b6be;
  color: #fff;
  font-size: 18px;
  border-radius: 5px;
  cursor: pointer;
}

/*Signup&login*/

.signup {
  margin: 0 auto;
  /*background-color: lightblue;*/
  height: 100vh; /* viewport height */
  width: 50vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.signup input {
  width: 256px;
  margin: 10px 0;
  padding: 0 3px;
  outline: none;
  border-radius: 5px;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  line-height: 18.75px;
  border: #c4c4c4 solid 1px;
  height: 50px;
  margin-left: 91px;
  border-color: white;
  border-bottom-color: gray;
  font-size: 18px;
}
h2 {
  margin-left: 150px;
  font-size: 24px;
  line-height: 32px;
}

button[type="submit"] {
  background-color: #04aeb6;
  width: 256px;
  border-radius: 5px;
  color: white;
  height: 50px;
  width: 256px;
  font-size: 16px;
  margin: 10px 0;
  padding: 0 3px;
  margin-left: 90px;
  cursor: pointer;
}
.signup img {
  height: 128px;
  width: 303px;
  margin-left: 71px;
}
.inputIcon {
  color: grey;
  cursor: pointer;
}

.inputWhitIcon {
  /* border: violet solid 4px; */
  display: flex;
  justify-content: center;
  align-items: center;
}
.inputWhitIcon2 {
  /* border: violet solid 4px; */
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: -60px;
}

/*Publish*/

.publish {
  margin-top: 30px;
  background-color: #eaedee;
}
h3 {
  font-size: 24px;
  margin-left: 71px;
}
.picture {
  width: 1440px;
  height: 100px;
  border: solid gray 2px;
  background-color: #fff;
  margin-left: 71px;
}
.title {
  width: 1440px;
  height: 235px;
  border: solid black 2px;
  margin-top: 16px;
  margin-left: 71px;
}
.titre {
  width: 100%;
  height: 73px;
  /*border: solid black 2px;*/
  display: flex;
  background-color: #fff;
  border-bottom-color: grey;
  border-bottom: solid;
}
.description {
  display: flex;
  background-color: #fff;
}
.detailprod {
  width: 1440px;
  height: 383px;
  border: solid black 2px;
  margin-top: 16px;
  margin-left: 71px;
}
.text-input {
  display: flex;
  width: 100%;
  height: 75px;
  border-bottom-color: grey;
  border-bottom: solid 2px;
  background-color: #fff;
}
.text-price {
  width: 1440px;
  height: 80px;
  border: solid black 2px;
  margin-top: 16px;
  margin-left: 71px;
  display: flex;
  background-color: white;
}
h4 {
  margin-left: 25px;
  width: 700px;
}
input {
  width: 734px;
  border: none;
  font-size: 16px;
}
.achete {
  margin-top: 5px;
  margin-left: 1170px;
  width: 77px;
  height: 70px;
}

.description textarea {
  width: 710px;
  border: none;
  font-size: 14px;
}
/*Paiement*/

.Ticket {
  /*border: black solid 2px;*/
  display: flex;
  height: 1000px;
  width: 100%;
  background-color: #eaedee;
}
.ticket {
  margin: 0 auto;
  border: #eaedee solid 2px;
  background-color: white;
  height: 550px; /* viewport height */
  width: 600px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 30px;
}
h5 {
  font-size: 18px;
  color: #c2c2c2;
}
.commande {
  font-size: 16px;
  line-height: 22px;
}
.commande1 {
  margin-top: 30px;
  display: flex;
  justify-content: space-between;
  margin-left: 10px;
  margin-right: 10px;
}
.commande2 {
  margin-top: 10px;
  display: flex;
  justify-content: space-between;
  margin-left: 10px;
  margin-right: 10px;
}
.commande3 {
  margin-top: 10px;
  display: flex;
  justify-content: space-between;
  margin-left: 10px;
  margin-right: 10px;
}
.message {
  margin-top: 60px;
}
.total {
  margin-top: 50px;
  display: flex;
  justify-content: space-between;
  margin-left: 10px;
  margin-right: 10px;
}

.carte {
  margin-top: 30px;
}
.carte button {
  margin-top: 30px;
  margin-left: 170px;
}
