.header {
  width: 1440px;
  height: 59px;
  border: red solid 2px;
  font-size: 18px;
  background-color: #ffffff;
  padding-left: 90px;
  justify-content: space-around;
  display: flex;
  margin-bottom: 30px;
}
.header img {
  height: 31px;
  width: 89px;
  margin-left: -265px;
  border: red solid 2px;
  margin-top: 13px;
}
.input1 {
  border: solid red 2px;
  margin-left: -450px;
  margin-top: 5px;
}
.button {
  border: red solid 2px;
  display: flex;
  justify-content: space-between;
  margin-left: -68px;
}
.header .button1 {
  margin-top: 13px;
  margin-left: 49px;
}
.button1 button {
  background-color: #29b6be;
  flex-wrap: wrap;
  border: none;
  border-radius: 5px;
  color: #fff;
  height: 27px;
  width: 130px;
}

.button2 {
  display: flex;
  border: red 2px solid;
  justify-content: space-between;
  width: 280px;
  text-decoration: none;
  margin-top: 13px;
}

.button2 button {
  background-color: white;
  flex-wrap: wrap;
  border-color: #29b6be;
  border-radius: 5px;

  height: 27px;
  width: 130px;
}

.button2 a {
  text-decoration: none;
  color: #29b6be;
  border: #29b6be;
}

.button3 button {
  background-color: #29b6be;
  flex-wrap: wrap;
  border: none;
  border-radius: 5px;
  color: #fff;
  height: 27px;
  width: 130px;
}
.header .button3 {
  margin-top: 13px;
  margin-left: 49px;
  color: white;
  margin-right: -180px;
}

/*HOME*/

.contenaire1 {
  border: black solid 2px;
  height: 1000px;
  width: 1440px;

  position: relative;
}
.bloc2 {
  height: 258px;
  width: 400px;
  border: springgreen solid 2px;
  position: absolute;
  top: 55%;
  left: 99px;
  transform: translateY(-50%);
  background-color: #fff;
}
.bloc3 {
  height: 160px;
  width: 100%;
  border: tomato solid 2px;
}
h1 {
  font-size: 34px;
  margin-left: 10px;
  line-height: 42.5px;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

.bloc4 button {
  width: 180px;
  height: 40px;
  background-color: #29b6be;
  border-color: #29b6be;
  border-radius: 5px;
  color: white;
  margin-left: 10px;
}
.image img {
  height: 100%;
  width: 1600px;
}
.bloc5 {
  display: flex;
  height: 1160px;
  width: 100%;
  border: blue solid 2px;
}
.offre {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-left: 93px;
  margin-top: 62px;
  margin-right: 93px;
}
.categories {
  border: blueviolet solid 2px;
  margin-bottom: 25px;
}
.cat2 img {
  border: black solid 2px;
  width: 235px;
  height: 330px;
}
.cat1 {
  border: black solid 2px;
  width: 235px;
}
.cat1 p {
  color: black;
  font-size: 14px;
}
.cat3 p {
  font-size: 12px;
  color: #9d9d9d;
}

/*Offer*/

.container2 {
  border: black solid 2px;
  display: flex;
  height: 1000px;
  width: 100%;
  background-color: #eaedee;
}

.photo {
  border: tomato solid 2px;
  height: 1000px;
  width: 850px;
}
.photo1 img {
  width: 500px;
  height: 750px;
  border: blue solid 2px;
  margin-left: 105px;
  margin-top: 50px;
}
.detail {
  width: 720px;
  height: 1000px;
  border: steelblue solid 2px;
  line-height: 19.5px;
}
.detail .detail1 {
  width: 500px;
  height: 850px;
  border: blue solid 2px;
  margin-left: 105px;
  margin-top: 50px;
  background-color: white;
}
.detail .price {
  width: 100%;
  border: black solid 2px;
  margin-left: 55px;
  font-size: 24px;
  font-weight: bold;
}
.detail .detail3 {
  width: 75%;
  border: black solid 2px;
  display: flex;
  height: 25%;
  margin-top: 20px;
  margin-left: 55px;
  border-bottom-color: gray;
}

.detail .detail31 {
  width: 50%;
  border: black solid 2px;
}
.detail31 p {
  color: gray;
}

.detail .detail32 {
  width: 80%;
  border: black solid 2px;
}

.detail .name {
  width: 75%;
  border: solid black 2px;
  margin-top: 30px;
  font-weight: bold;
  margin-left: 55px;
}

.detail .description {
  width: 75%;
  border: solid black 2px;
  margin-top: 30px;
  color: gray;
  font-size: 16px;
  margin-left: 55px;
  line-height: 19.5px;
}

.detail .owner {
  width: 75%;
  border: black solid 2px;
  margin-top: 30px;
  margin-left: 55px;
  display: flex;
}
.avatar {
  width: 20%;
  border: black solid;
}
.username {
  margin-top: 15px;
}
.owner img {
  height: 50px;
  border-radius: 30px;
}

.detail .acheter {
  width: 75%;
  border: solid 2px black;
  margin-top: 80px;
  margin-left: 55px;
  height: 50px;
  background-color: #29b6be;
  color: #fff;
  font-size: 18px;
  border-radius: 5px;
}

/*Signup*/

.signup {
  margin: 0 auto;
  /*background-color: lightblue;*/
  height: 100vh; /* viewport height */
  width: 50vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.signup input {
  width: 256px;
  margin: 10px 0;
  padding: 0 3px;
  outline: none;
  border-radius: 5px;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  line-height: 18.75px;
  border: #c4c4c4 solid 1px;
  height: 50px;
  margin-left: 91px;
  border-color: white;
  border-bottom-color: gray;
}
h2 {
  margin-left: 150px;
  font-size: 24px;
  line-height: 32px;
}

button[type="submit"] {
  background-color: #04aeb6;
  width: 256px;
  border-radius: 5px;
  color: white;
  height: 50px;
  width: 256px;
  font-size: 16px;
  margin: 10px 0;
  padding: 0 3px;
  margin-left: 90px;
  cursor: pointer;
}
.signup img {
  height: 128px;
  width: 303px;
  margin-left: 71px;
}

/*Offer*/
