.header {
  width: 1440px;
  height: 59px;
  border: red solid 2px;
  font-size: 18px;
  background-color: #ffffff;
  padding-left: 90px;

  display: flex;
}
.header img {
  height: 45px;
  width: 150px;

  /*border: red solid 2px;*/
}
